{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["> 0%"]
                },
                "useBuiltIns": true
            }
        ],
        "react"
    ],
    "plugins": ["transform-object-rest-spread"]
}
